/* add_item.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: whitesmoke;
}

h1 {
    text-align: center;
}
a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    
}

button[type="submit"],button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 25px;
}

button:hover,button[type="submit"]:hover {
    background-color: #0056b3;
}
